@import "tailwindcss";

@font-face {
    font-family: "Mercury";
    src: url('./assets/fonts/Mercury.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-text: 'Mercury';
    --font-display: 'Gotham';
    --bg-gray: #252525;
    --bg-white: #ffffff;
}