@import "tailwindcss";

@font-face {
    font-family: "Mercury";
    src: url('./assets/fonts/Mercury.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-text: 'Mercury';
    --font-display: 'Gotham';
    --color-gray: #252525;
    --color-light-gray: #4A4A4A;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-gold: #B4841E;
    --color-footer-black: rgba(0,0,0,.9);

    /* Home Seperator Animation */
    --home-seperator-color: rgba(44,44,44, .2);
    --home-seperator-width: 10%;
}

.active {
    color: var(--color-gold);
}

.cc40-img:hover ~ .cc40-span-left {
    opacity: 1;
    scale: 1;
    left: 17.5%;
}

.cc40-img:hover ~ .cc40-span-right {
    opacity: 1;
    scale: 1;
    right: 17.5%;
}

.cc40-img:hover ~  .cc40-span-bottom {
    bottom: 30px;
    opacity: 1;
}

.spin {
    animation: spin 2.5s linear infinite;
}

div.swiper-button-next, div.swiper-button-prev {
    color: var(--color-white);
    transition: all .4s;
    opacity: 0.2;
    &:hover{
        color: var(--color-gold);
        opacity: 1;
    }
}

.swiper {
    margin: 0 !important;
}