@import "tailwindcss";

@font-face {
    font-family: "Mercury";
    src: url('./assets/fonts/Mercury.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url('./assets/fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-text: 'Mercury';
    --font-display: 'Gotham';
    --color-gray: #252525;
    --color-white: #ffffff;
    --color-light: #F6F6F6;
    --color-gold: #B4841E;

    --home-seperator-color: rgba(44,44,44, .2);
    --home-seperator-width: 10%;
}